h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 25pt;         
    font-style: normal; 
    font-weight: bold; 
    color:black;
    text-align: center; 
    
  }
  
  table{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color:black; 
    font-size: 12pt; 
    font-style: normal;
    font-weight: bold;
    text-align:center;
    background-color:yellow; 
    border-collapse: collapse; 
    border: 2px solid black
  }
  table.inner{
    border: 0px
  }